body{
     font-family: 'Roboto', sans-serif;
     text-decoration: none;
     background-image: url(ss.png);
     background-repeat: no-repeat;
     background-size:auto;      
}

.section1{
    text-align: center;
    padding-top: 100px;
}
.section1 h1{
    font-size: 80px;
    color: white;
    font-weight: 700;
}

.section1 p{
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-top: -40px;
}

.section2{
    display: flex;
    margin: auto;
    background-color: white;
    margin: 0 300px 50px 300px ;
    
}
.section2 div{
    width: 50%;
    text-align: center;
}
.ss{
   text-align: left;
   padding-left: 85px;
   font-size: 30px;
   padding-bottom: -20px;
   font-weight: 800;
   text-transform: uppercase;
   color: slategray;
}

.img-{
    padding: 30px;
   
}
.text{
    padding-top:  100px;

}
.text p{
    font-size: 14px;
    color: slategray;
    padding-right: 30px;
    text-align: justify;
}

.section3{
    margin: 0 300px;
    background-color: white;
    display: flex;
    padding: 30px 30px;
}

.section3{
    text-align: center;
}

.section3 div{
    width: 32%;
}